.header{
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.pos-absolute{
    position: absolute;
}

.header .space{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px 0px;
}