.projects{
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
}

.projects .space{
    display: flex;
    flex-direction: column;
    padding: 5rem 0rem;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
}

.projects .wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 1rem;
}

.mockup img{
    max-width: 326px;
}


@media (min-width: 370px) and (max-width: 1020px) {
    
    .projects .wrap{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}