.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.background{
    display: flex;
    flex-direction: column;
    background-image: url(../assets/background.png);
    width: var(--bg-width);
    height: var(--bg-height);
    font-family: var(--font);
    color: var(--font-color);
    padding: var(--gap);
    gap: var(--gap);
    border: 1px solid var(--font-color);
}

.info{
    position: relative;
    display: flex;
    gap: var(--gap);
}

.info img{
    width: 112px;
    height: 112px;
}

.main-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.title{
    font-weight: var(--font-bold);
    font-size: var(--font-size-title);
}

.nsei{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 215px;
    height: 85px;
}

.group{
    display: flex;
    width: 100%;
    gap: 5px;
}

.atributtes{
    font-weight: var(--font-medium);
    font-size: var(--font-size);
}

p{
    font-weight: var(--font-regular);
    font-size: var(--font-size);
}

.classe{
    position: absolute;
    right: 10px;
    bottom: -12px;
    font-size: var(--font-size-class);
}

.atributtes{
    margin-bottom: 5px;
}

.content{
    width: 100%;
    height: 110px;
    overflow-y: scroll;
}

.content::-webkit-scrollbar {
    width: 1px;
    
}
 
.content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.content::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 5px;
}